#main {
  display: block;
  width: 80%; 
  position: relative;
  left: 10%;
  color: rgb(51, 51, 51);
  font-family: "Helvetica for Target", HelveticaForTarget, Targetica, "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

/* ===== HEADER ===== */

.mainHeader {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: block;
}

.path {
  padding: 4px 0px;
  font-size: 12px;
}

.path a:link, a:visited {
  color: rgb(102, 102, 102);
  text-decoration-line: underline;
}

.path a:hover {
  text-decoration: none;
}

.slash {
  padding: 0px 4px;
}

.name {
  margin-bottom: 4px;
}

.name h1 {
  margin: 0px;
  font-size: 23px;
}

.brand a:link, a:visited {
  color: rgb(51, 51, 51);
  text-decoration-line: underline;
}

.brand a:hover {
  text-decoration: none;
}

/* ===== BODY ===== */

.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

/* === IMAGES === */

.images {
  padding-left: 12px;
  flex-basis: 50%;
  max-width: 50%;
  /* max-height: 577px;
  max-width: 700px; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainImg {
  margin-bottom: 32px;
  padding: 3px 0px;
  position: relative;
  flex-basis: 83.3333%;
  max-width: 83.3333%;

}

.mainImg img {
  width: 100%;
  height: auto;
}

.imgSelect {
  margin-top: 2px;
  flex-basis: 16.6667%;
  max-width: 16.6667%;
  width: 100%;
  /* max-height: 571px; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.selectSize {
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 1px;
  margin-top: 3px;
}

.imgSelect img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

/* === INFO-OP === */

.infoOp {
  padding-left: 32px;
  padding-top: 12px;
  flex-basis: 25%;
  max-width: 25%;
}

/* PRICE */

.priceAndRating {
  padding-bottom: 16px;
  display: block;
}

.price span {
  display: inline-block;
  line-height: 1.4285;
  text-size-adjust: 100%;
  font-weight: bold;
  font-size: 23px;
}

.price img {
  padding-right: 3px;
  height: 21px;
}

/* RATING */

.stats {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.ratings {
  margin-right: 4px;
  text-decoration: none;
}

.stars {
  display: inline-block;
}

.star {
  border: 1px;
  border-color: black;
}

.reviews {
  margin-left: 4px;
  vertical-align: center;
  font-size: 12px;
  color: rgb(102, 102, 102);
  text-decoration-line: underline;
}

.reviews:hover {
  text-decoration: none;
}

/* QUESTIONS */

.numQuestions {
  border-left: 1px solid rgb(214, 214, 214);
  padding-left: 4px;
  font-size: 12px;
  color: rgb(102, 102, 102);
  text-decoration-line: underline;
}

.numQuestions:hover {
  text-decoration: none;
  cursor: pointer;
}

/* === PURCHASE === */